# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
max_venv/
venv/

# Database
db.sqlite3
backup.json
backup.sql

# Static files
staticfiles/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db