{% extends 'base.html' %}

{% block title %}
Resend Activation Link
{% endblock title %}

{% block header %}
<div class="container">
    <h2 class="text-warning">Resend Activation Link</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-primary">Resend Activation Link</button>
    </form>
</div>



{% endblock header %}